:root {
  --blue: #007bff;
  --pink: #c66995;
  --green: #69c6ba;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.section-two {
  display: flex;
  flex-direction: column;
}

.first-picture,
.second-picture {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  margin: auto;

}

.parent-box-blue,
.parent-box-pink {

  color: var(--white);
  align-self:  center;
  justify-self: center;

}

/*.figure-first {
  width: 53%;
}
*/
.btn {
  text-decoration: none;
  background-color: var(--white);
  color: var(--green);
  padding: 0.5em 1em;
}

.btn:hover {
  background-color: var(--pink);
  color: var(--white);
}

.btn-pink {
  text-decoration: none;
  background-color: var(--white);
  color: var(--pink);
  padding: 0.5em 1em;
}

.btn-pink:hover {
  background-color: var(--green);
  color: var(--white);
}

h3,
p {
  padding: 1rem 0;
}

.blue-box {
  width: 95%;
  background-color: var(--green);
  padding: 3rem 7rem;
  text-align: start;
  margin-left: -3rem;

}
.parent-box-pink{
  max-width:100%;
}
.pink-box {
  width:95%;
  background-color: var(--pink);
  padding: 3rem 7rem;
  margin-left:5rem;
}
.second-picture{
  flex-direction: row-reverse;
}
.parent-button{
  position: absolute;
  }
.btn-left {
  left:0;
  z-index: 1;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  margin-left:-132px;
  margin-top:100px;
}

.btn-right {

  z-index: 1;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: var(--white);

}

.btn-left:hover,
.btn-right:hover {
  background-color: var(--green);
  border: none;
}
.btn-left-pink {
  z-index: 1;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  margin-left: 47px;
  margin-top: 190px;
}


.btn-right-pink {
  z-index: 1;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: var(--white);
}

.btn-left-pink:hover,
.btn-right-pink:hover {
  background-color: var(--pink);
  border: none;
}

.continents {
  background-color: var(--green);
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 85rem;
  margin: auto;
  margin-top: 1rem;
}

.cont-li {
  padding: 30px 25px;
}

.cont-link {
  text-decoration: none;
  color: var(--white);
  width: 150px;
  height: 150px;
  margin: auto;
  text-transform: uppercase;
}

.cont-li:hover {
  background-color: var(--pink);
}

.parent-prices {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 60rem;
  margin-top: 4rem;
}

.hotel-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 0px 0px 7px 0px rgb(214 214 214);
}


.hotel-name {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.hotel-location {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--pink);
}

.hotel-desription {
  font-size: 1rem;
}

.right-prices {
  background-color: var(--green);
  color: var(--white);
  padding: 2.8rem;
  background-image: url("../images/button-curve.png");
  background-repeat: no-repeat;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.btn-price {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
}

.right-prices:hover {
  background-color: var(--pink);
}
