:root {
  --blue: #007bff;
  --pink: #c66995;
  --green: #69c6ba;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --black: #000;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 85rem;
  padding-inline: 2em;
  margin-inline: auto;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  background: #e6e6e6;
  color: #fff;
}

/*header and nav*/

header {
  background-color: #fff;
  padding: 1em 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  background-color: #fff;
  display: block;
  width: 200px;
  padding: 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  display: block;
  margin-left: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  font-family: sans-serif;
}

.nav-link:hover,
.nav-link:focus {
  color: #20c997;
}

.nav-toggle {
  cursor: pointer;
  border: 1px solid rgb(104, 199, 187);
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 10%;
  background: #fff;
  color: #000;
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1.3rem;
  margin-bottom: -0.5rem;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #20c997;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.logo {
  width: 100px;
  height: auto;
}

.logo::after {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

/*MOBILE VIEW*/
@media (max-width: 34rem) {
  .logo-title {
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-self: start;
    align-self: center;
    font-size: 120%;
    margin-left: -3rem;
    color: #000;
  }
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  /*position: relative;*/
  display: block;
  margin-top: 320px;
  margin-left: 110px;
  box-shadow: 0px 0px 7px 0px rgb(214 214 214);
  background-color: #fff;
  z-index: 999;
}

/*Colors*/
.white {
  color: var(--white);
}

/*About*/
.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  /*filter: brightness(50%);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  background-color: rgb(0, 0, 0, 0.7);
}

.image-points {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SECTION CONTAINER -- SECTION ONE */
.section-container {
  max-width: 85rem;
  margin: auto;
  padding-inline: 2rem;
  min-height: 100vh;
}

/*FORM MOBILE VIEW*/
.form {
  max-width: 95%;
  padding: 2rem 1rem;
  color: #000;
  background-color: #fafafa;
  margin: 0 auto;
}

label,
input,
select {
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7rem 0rem;
}

select {
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-submit {
  padding: 0.7rem 2rem;
  width: 100%;
  color: #fff;
  background-color: rgb(3, 205, 205);
  border: 1px solid rgb(3, 205, 205);
  text-transform: uppercase;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: rgb(189, 60, 157);
  border: rgb(189, 60, 157);
}

/* Form Desktop view*/
@media (min-width:800px) {
  .form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    max-width: 70%;
    padding: 1rem;
    box-shadow: 0px 0px 7px 0px rgb(214 214 214);
  }

  .destination {
    grid-column: span 2;
  }

  .room {
    grid-column: span 1;
    width: 100%;
  }

  .adult {
    grid-column: span 1;

  }

  .children {
    grid-column: span 1;

  }

  .checkIn {
    grid-column: span 1;
  }

  .checkOut {
    grid-column: span 1;
  }

  .submit {
    grid-column: span 3;
    align-self: center;
  }
}

.section-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /*z-index: 999;
    position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  
  */
  min-height: 100vh;

}

.section-title,
.section-text {
  padding-inline: 10px;
  text-align: center;
}

.section-title {
  font-size: 250%;
}

.section-text {
  font-size: 1.5rem;
  font-family: var(--font-family-sans-serif);
}

.btn-parent {
  padding-bottom: 3rem;
}

.btn-circle {
  background-color: var(--green);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  padding: 10px 15px;
}

.btn-circle:hover {
  background-color: var(--pink);
}


/*ASIDE MOBILE VIEW*/
.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin-inline: auto;
  color: #000;
  box-shadow: 0px 0px 7px 0px rgb(214 214 214);
  background: #e6e6e6;
  max-width: 85rem;
}

.aside-heading {
  font-size: 150%;
  text-transform: uppercase;
  padding: 1em;
}

.aside-btn {
  background-color: var(--green);
  text-decoration: none;
  color: var(--white);
  padding: 0.5em;
}

.aside-btn:hover {
  background-color: var(--pink);
  color: var(--white);
}

/*Desktop view ASIDE*/
@media (min-width:800px) {
  .aside-heading {
    font-size: 200%;
  }
}

/*SECTION TWO*/
/*Mobile view*/
img {
  max-width: 100%;
  display: block;
}

.section-two,
.section-three {
  background-color: var(--white);
  max-width: 85rem;
  margin-inline: auto;
}

.parent-box-blue,
.parent-box-pink {

  color: var(--white);
}

.btn {
  text-decoration: none;
  background-color: var(--white);
  color: var(--green);
  padding: 0.5em 1em;
}

.btn:hover {
  background-color: var(--pink);
  color: var(--white);
}

.btn-pink {
  text-decoration: none;
  background-color: var(--white);
  color: var(--pink);
  padding: 0.5em 1em;
}

.btn-pink:hover {
  background-color: var(--green);
  color: var(--white);
}

.blue-box {
  background-color: var(--green);
  padding: 1rem;
  text-align: start;
}

.pink-box {
  background-color: var(--pink);
  padding: 1rem;
  text-align: start;
}


h3,
p {
  padding: 1rem;
}

@media (max-width:799px) {

  .parent-button {
    position: relative;
  }

  .btn-left {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    margin-top: -200px;
  }

  .btn-right {
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: var(--white);
    position: absolute;
    margin-top: -200px;
    margin-left: 3rem;
  }

  .btn-left:hover,
  .btn-right:hover {
    background-color: var(--green);
    border: none;
  }

  .btn-left-pink {
    z-index: 1;
    position: absolute;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    margin-top: 1rem;
  }

  .btn-right-pink {
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: var(--white);
    position: absolute;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .btn-left-pink:hover,
  .btn-right-pink:hover {
    background-color: var(--pink);
    border: none;
  }
}


/*DESKTOP VIEW*/

@media (min-width:800px) {

  .section-two {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px 0px rgb(214 214 214);
  }

  .first-picture,
  .second-picture {
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    margin: auto;
  }

  .parent-box-blue,
  .parent-box-pink {
    align-self: center;
    justify-self: center;
  }

  h3,
  p {
    padding: 1rem 0;
  }

  .blue-box {
    width: 95%;
    padding: 3rem 7rem;
    text-align: start;
    margin-left: -3rem;
  }

  .parent-box-pink {
    max-width: 100%;
  }

  .pink-box {
    width: 95%;
    padding: 3rem 7rem;
    margin-left: 5rem;
  }

  .second-picture {
    flex-direction: row-reverse;
  }

  .parent-button {
    position: absolute;
  }

  .btn-left {
    left: 0;
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    margin-left: -132px;
    margin-top: 100px;
  }

  .btn-right {
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: var(--white);
  }

  .btn-left:hover,
  .btn-right:hover {
    background-color: var(--green);
    border: none;
  }

  .btn-left-pink {
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    margin-left: 47px;
    margin-top: 190px;
  }


  .btn-right-pink {
    z-index: 1;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: var(--white);
  }

  .btn-left-pink:hover,
  .btn-right-pink:hover {
    background-color: var(--pink);
    border: none;
  }

  .continents {
    background-color: var(--green);
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 85rem;
    margin: auto;
  }

  .cont-li {
    padding: 30px 25px;
  }
}

.continents {
  background-color: var(--green);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont-link {
  text-decoration: none;
  color: var(--white);
  width: 150px;
  height: 150px;
  margin: auto;
  text-transform: uppercase;
}

.cont-li:hover {
  background-color: var(--pink);
}

/*PRICES MOBILE VIEW*/
.parent-prices {
  max-width: 60rem;
  margin-top: 4rem;
  background-color: var(--white);
  color: var(--black);
  margin: auto;
  display: flex;
  padding-inline: 1rem;
  flex-direction: column;
}

.hotel-prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 0px 0px 7px 0px rgb(214 214 214);
}

.hotel-name {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.hotel-location {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--pink);
}

.hotel-desription {
  font-size: 1rem;
}

.right-prices {
  background-color: var(--green);
  color: var(--white);
  padding: 3rem;
  /*background-image: url("../images/button-curve.png");
  background-repeat: no-repeat;
*/
}

.price {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.btn-price {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
}

.right-prices:hover {
  background-color: var(--pink);
}

.btn-section-three {
  background-color: var(--green);
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0.5em;
  margin-top: 15px;
}

.btn-section-three:hover {
  background-color: var(--pink);
  color: var(--white);
}

/*PRICES DESKTOP VIEW*/
@media (min-width:800px) {
  .hotel-prices {
    display: flex;
    flex-direction: row;
  }

  .hotel-name {
    font-size: 1.85rem;
  }

  .hotel-location {
    font-size: 0.85rem;
  }

  .right-prices {
    padding: 2.3rem;
    background-image: url("../images/button-curve.png");
    background-repeat: no-repeat;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*Desktop VIEW  */
@media (min-width: 700px) {

  a,
  button {
    transition: all 0.3s ease;
  }

  .logo-title {
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: start;
    align-self: center;
    font-size: 200%;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    width: 100%;
  }

  .nav-item {
    width: fit-content;
    margin-left: 3rem;
  }

  .nav-link {
    margin-left: 0;
  }
}

/*FORM AND FOOTER*/

.form-contact {
  padding-inline: 2rem;
  margin-top: 1rem;
}

.form-contact-s {
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 0px;
  color: var(--green);
}

input[type="text"] {
  border: 2px solid #e6e6e6;
  background-color: #e6e6e6;

}

textarea {
  background-color: #e6e6e6;
}

textarea[placeholder="Write something.."]:hover,
textarea:focus {
  border: 2px solid var(--green);
  background-color: var(--white);
}

input[type=text]:hover,
input[type="text"]:focus,
select[name="room"]:hover,
select[name="room"]:focus,
select[name="adult"]:hover,
select[name="adult"]:focus,
select[name="children"]:hover,
select[name="children"]:focus {
  border: 2px solid var(--green);
  border-radius: 4px;
  background-color: var(--white);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
  font-size: 0.85rem;
  background-color: var(--green);
  margin: auto;
  margin-top: 1rem;
}

.form-submit {
  background-color: var(--pink);
  color: var(--white);
  border: 2px solid var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.form-submit:hover,
.form-sub0mit:focus {
  background-color: var(--green);
  border: 2px solid var(--green);
}

@media (min-width:800px) {
  .form-contact {
    margin: auto;
    max-width: 30%;
    margin-top: 1rem;
  }

  .form-contact-s {
    border-radius: 12px;
  }

  footer {
    max-width: 85rem;
  }
}