/*mobile view*/
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

.form {
    max-width: 80%;
    padding: 2rem 1rem;
    color: #000;
    background-color: #fff;
    border: 2px solid blue;
    margin: 0 auto;
}

label,
input,
select {
    width: 100%;
}

label {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.7rem 0rem;
}

select {
    padding: 0.7rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
    padding: 0.7rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-submit {
    padding: 0.7rem 2rem;
    width: 100%;
    color: #fff;
    background-color: rgb(3, 205, 205);
    border: 1px solid rgb(3, 205, 205);
    text-transform: uppercase;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: rgb(189, 60, 157);
    border: rgb(189, 60, 157);
}

/*Desktop view*/
@media (min-width:700px) {
    .form {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        max-width: 60%;
        padding: 1rem;
        background-color: var(--gray);
    }

    .destination {
        grid-column: span 2;
    }

    .room {
        grid-column: span 1;
    }

    .adult {
        grid-column: span 1;

    }

    .children {
        grid-column: span 1;

    }

    .checkIn {
        grid-column: span 1;
    }

    .checkOut {
        grid-column: span 1;
    }

    .submit {
        grid-column: span 3;
        align-self: center;
    }
}