* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

.form-date {
    width: 50%;
    display:grid;
    padding:2rem 1rem;;
    color: #000;
    background-color: #fff;
    border: 2px solid blue;;
    margin:0 auto;
}
.row-one {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

.destination {
    grid-column: 1/2;
    width: 100%;
}

.dest-first {
    padding: 5px 50px 5px 50px;
}

label {
    font-size: 1rem;
    font-weight: 700;
}

select {
    padding: 5px 50px;
}

input {
    padding: 5px 50px;
}

.room {
    grid-column: 4/5;

}

.adult {
    grid-column: 5/6;
}

.children {
    grid-column: 6/7;
}

.checkIn {
    grid-column: 1/2;
    grid-row: 2;
}

.checkOut {
    grid-column: 2/3;
    grid-row: 2;
}

.submit {
    grid-column: 4/7;
    grid-row: 2;
}

.btn-submit {
    padding: 5px 50px;
    width: 100%;
    color: #fff;
    background-color:  rgb(3, 205, 205);
    border: 2px solid rgb(3, 205, 205);
    text-transform: uppercase;
}
.btn-submit:hover, .btn-submit:focus{
    background-color:  rgb(189, 60, 157);
    border:  rgb(189, 60, 157);
}