/*mobile view*/* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

.form {
    max-width: 80%;
    padding:2rem 1rem;
    color: #000;
    background-color: #fff;
    border: 2px solid blue;
    margin:0 auto;
}
label,input,select{
    width:100%;
}
label {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.7rem 0rem;
}
select {
    padding: 0.7rem 2rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

input {
    padding: 0.7rem 2rem;
    margin-top:1rem;
    margin-bottom:1rem;
;
}
.btn-submit {
    padding: 0.7rem 2rem;
    width: 100%;
    color: #fff;
    background-color:  rgb(3, 205, 205);
    border: 2px solid rgb(3, 205, 205);
    text-transform: uppercase;
}
.btn-submit:hover, .btn-submit:focus{
    background-color:  rgb(189, 60, 157);
    border:  rgb(189, 60, 157);
}


/*Desktop view*/
@media (min-width700px) {




    
}


.room {
    grid-column: 4/5;

}

.adult {
    grid-column: 5/6;
}

.children {
    grid-column: 6/7;
}

.checkIn {
    grid-column: 1/2;
    grid-row: 2;
}

.checkOut {
    grid-column: 2/3;
    grid-row: 2;
}

.submit {
    grid-column: 4/7;
    grid-row: 2;
}



*/