:root {
    --blue: #007bff;
    --pink: #671e40;
    --green: rgb(15, 95, 95);
    --lightgreen: #20c997;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --black: #000;
    --grey: #e6e6e6;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 85rem;
    padding-inline: 2em;
    margin-inline: auto;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    background: var(--grey);
    color: var(--white);
}

/*SECTION CONTAINER -- SECTION ONE */
/*SECTION TWO SLIDER*/
.section-two,
.section-three {
    background-color: var(--white);
    max-width: 85rem;
    margin-inline: auto;

}

/*Mobile view*/
img {
    max-width: 100%;
    display: block;
    height: 15rem;
}

/*  DEKTOP VIEW */
@media (min-width:34rem) {
    img {
        max-width: 100%;
        display: block;
        height: 25rem;
    }
}

.slider {
    overflow: hidden;
    max-width: 70rem;
    height: 35rem;
    position: relative;
    width: 100%;

}

.slide {
    position: absolute;
    width: 100%;
    transition: all 0.5s;
}

.parent-box-blue {
    color: var(--white);
    background-color: var(--green);
    text-align: start;
}

/*mobile view*/

@media (max-width:799px) {
    .parent-box-blue {
        margin-top: -315px;
    }

    h3,
    p {
        padding: 1rem;
    }

    .btn-left {
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        border: none;
        margin-top: -550px;
    }

    .btn-right {
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: var(--white);
        position: absolute;
        margin-top: -550px;
        margin-left: 3rem;
    }

    .btn-left:hover,
    .btn-right:hover {
        background-color: var(--green);
        border: none;
    }

    /*pink*/

    .parent-box-pink {
        background-color: var(--pink);
        z-index: 1;
    }

    .btn-left-pink {
        z-index: 1;
        position: absolute;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        border: none;
        margin-top: -45rem;
        margin-left: 0;
    }

    .btn-right-pink {
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: var(--white);
        position: absolute;
        margin-top: -45rem;
        margin-left: 3rem;
    }

    .btn-left-pink:hover,
    .btn-right-pink:hover {
        background-color: var(--pink);
        border: none;
    }

    .slider-second {
        overflow: hidden;
    }

    .slider-three,
    .slider-two,
    .slider-third {
        display: block;
        overflow: hidden;
    }

    .slide-third {
        overflow: hidden;

    }

    .btn-left-third {
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        border: none;
        margin-top: -44rem;

    }

    .slider-three {
        margin-top: -30rem;
    }

    .btn-right-third {
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: var(--white);
        margin-left: 3rem;
        margin-top: -44rem;
    }

    .parent-blue-box-third {
        color: var(--white);
        background-color: var(--green);
        padding: 1rem;
        width: 100%;
        margin-top: -30rem;
    }

    .btn-left-third:hover,
    .btn-right-third:hover {
        background-color: var(--green);
        border: none;
    }

}

/*DESKTOP*/

@media (min-width:800px) {

    .section-two {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 7px 0px rgb(214 214 214);
        max-width: 80rem;
        width: 100%;
        margin: auto;
    }

    .first-slider {
        display: flex;
    }

    .slider {
        position: relative;
        overflow: hidden;
    }


    .parent-box-blue {
        z-index: 1;
        align-self: center;
        justify-self: center;
        width: 100%;
        padding: 3rem 5rem;
        text-align: start;
        margin-left: -3rem;
        margin-bottom: 6rem;
    }

    h3,
    p {
        padding: 1rem 0;
    }

    .btn-left {
        position: absolute;
        left: 0;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        border: none;
        margin-left: 610px;
        margin-top: 170px;
    }

    .btn-right {
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: var(--white);
        margin-left: 534px;
        margin-top: 170px;
    }

    .btn-left:hover,
    .btn-right:hover {
        background-color: var(--green);
        border: none;
    }

    /*Slider second*/
    .slider-two {
        display: flex;
    }

    .slider-second {
        display: flex;
        overflow: hidden;
        max-width: 70rem;
        height: 35rem;
        position: relative;
        width: 100%;
    }

    .slide-second {
        position: absolute;
        width: 100%;
        transition: all 0.5s;
    }

    /*pink*/

    .parent-box-pink {
        background-color: var(--pink);
        align-self: center;
        justify-self: center;
        width: 100%;
        z-index: 1;
        padding: 3rem 5rem;
        margin-top: -10rem;
        margin-right: -3rem;
    }

    .btn-left-pink {
        z-index: 1;
        position: absolute;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        border: none;
        margin-top: 10rem;
        margin-left: 45rem;
    }

    .btn-right-pink {
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: var(--white);
        position: absolute;
        margin-top: 10rem;
        margin-left: 48rem;
    }

    .btn-left-pink:hover,
    .btn-right-pink:hover {
        background-color: var(--pink);
        border: none;
    }

    .slider-three {
        display: flex;
    }

    .slider-third {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 70rem;
        height: 35rem;
    }

    .slide-third {
        position: absolute;
        width: 100%;
        transition: all 0.5s;
    }

    .parent-blue-box-third {
        color: var(--white);
        background-color: var(--green);
        z-index: 1;
        align-self: center;
        justify-self: center;
        width: 100%;
        padding: 3rem 5rem;
        margin-left: -3rem;
        margin-bottom: 6rem;
    }

    .btn-left-third {
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        border: none;
        margin-left: 30rem;
        margin-top: 170px;
    }

    .btn-right-third {
        position: absolute;
        z-index: 1;
        height: 40px;
        width: 40px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: var(--white);
        margin-left: 534px;
        margin-top: 170px;
    }

    .btn-left-third:hover,
    .btn-right-third:hover {
        background-color: var(--green);
        border: none;
    }

}